
/**
 * @file
 * Stylesheet file for the Hydra environment.
 * @ingroup hydra
 */

body.hydra-menu {
  margin-top: 30px !important;
}
#hydra-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 12px !important;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;
  line-height: 1em !important;
  background-color: gray;
  width: 100%;
  padding: 8px 0 10px 0;
  text-align: left;
}
#hydra-menu h4 {
  margin: 0 0 0 10px !important;
  padding-bottom: 0;
  color: #FFFFFF !important;
  font-size: 16px !important;
  font-weight: normal !important;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif !important;
}
#hydra-menu form {
  position: absolute;
  right: 10px;
  top: 8px;
}
#hydra-menu label {
  color: #FFFFFF;
}
#hydra-menu select {
  background: #F0F0F0 !important;
  border: 1px solid #FFFFFF !important;
  color: #333333 !important;
  padding: 0 !important;
  width: auto !important;
  font-size: 12px !important;
}

#hydra-template-form #edit-template-wrapper .description {
  clear: both;
}
#hydra-template-form .form-radios .form-item {
  display: inline;
}

/* Support for admin menu */
body.hydra-menu.admin-menu {
  margin-top: 50px !important;
}
body.hydra-menu #admin-menu {
  top: 30px !important;
}
